.mt5 {margin-top: 5px;}
.mr5 {margin-right: 5px;}
.mb5 {margin-bottom: 5px;}
.ml5 {margin-left: 5px;}
.mlr5 {margin-left: 5px; margin-right: 5px;}
.mtb5 {margin-top: 5px; margin-bottom: 5px;}
.m5 {margin: 5px;}
.mt10 {margin-top: 10px;}
.mr10 {margin-right: 10px;}
.mb10 {margin-bottom: 10px;}
.ml10 {margin-left: 10px;}
.mlr10 {margin-left: 10px; margin-right: 10px;}
.mtb10 {margin-top: 10px; margin-bottom: 10px;}
.m10 {margin: 10px;}
.mt15 {margin-top: 15px;}
.mr15 {margin-right: 15px;}
.mb15 {margin-bottom: 15px;}
.ml15 {margin-left: 15px;}
.mlr15 {margin-left: 15px; margin-right: 15px;}
.mtb15 {margin-top: 15px; margin-bottom: 15px;}
.m15 {margin: 15px;}
.mt20 {margin-top: 20px;}
.mr20 {margin-right: 20px;}
.mb20 {margin-bottom: 20px;}
.ml20 {margin-left: 20px;}
.mlr20 {margin-left: 20px; margin-right: 20px;}
.mtb20 {margin-top: 20px; margin-bottom: 20px;}
.m20 {margin: 20px;}
.mt25 {margin-top: 25px;}
.mr25 {margin-right: 25px;}
.mb25 {margin-bottom: 25px;}
.ml25 {margin-left: 25px;}
.mlr25 {margin-left: 25px; margin-right: 25px;}
.mtb25 {margin-top: 25px; margin-bottom: 25px;}
.m25 {margin: 25px;}
.mt30 {margin-top: 30px;}
.mr30 {margin-right: 30px;}
.mb30 {margin-bottom: 30px;}
.ml30 {margin-left: 30px;}
.mlr30 {margin-left: 30px; margin-right: 30px;}
.mtb30 {margin-top: 30px; margin-bottom: 30px;}
.m30 {margin: 30px;}
.mt35 {margin-top: 35px;}
.mr35 {margin-right: 35px;}
.mb35 {margin-bottom: 35px;}
.ml35 {margin-left: 35px;}
.mlr35 {margin-left: 35px; margin-right: 35px;}
.mtb35 {margin-top: 35px; margin-bottom: 35px;}
.m35 {margin: 35px;}
.mt40 {margin-top: 40px;}
.mr40 {margin-right: 40px;}
.mb40 {margin-bottom: 40px;}
.ml40 {margin-left: 40px;}
.mlr40 {margin-left: 40px; margin-right: 40px;}
.mtb40 {margin-top: 40px; margin-bottom: 40px;}
.m40 {margin: 40px;}
.mt45 {margin-top: 45px;}
.mr45 {margin-right: 45px;}
.mb45 {margin-bottom: 45px;}
.ml45 {margin-left: 45px;}
.mlr45 {margin-left: 45px; margin-right: 45px;}
.mtb45 {margin-top: 45px; margin-bottom: 45px;}
.m45 {margin: 45px;}
.mt50 {margin-top: 50px;}
.mr50 {margin-right: 50px;}
.mb50 {margin-bottom: 50px;}
.ml50 {margin-left: 50px;}
.mlr50 {margin-left: 50px; margin-right: 50px;}
.mtb50 {margin-top: 50px; margin-bottom: 50px;}
.m50 {margin: 50px;}
.mt55 {margin-top: 55px;}
.mr55 {margin-right: 55px;}
.mb55 {margin-bottom: 55px;}
.ml55 {margin-left: 55px;}
.mlr55 {margin-left: 55px; margin-right: 55px;}
.mtb55 {margin-top: 55px; margin-bottom: 55px;}
.m55 {margin: 55px;}
.mt60 {margin-top: 60px;}
.mr60 {margin-right: 60px;}
.mb60 {margin-bottom: 60px;}
.ml60 {margin-left: 60px;}
.mlr60 {margin-left: 60px; margin-right: 60px;}
.mtb60 {margin-top: 60px; margin-bottom: 60px;}
.m60 {margin: 60px;}
.mt65 {margin-top: 65px;}
.mr65 {margin-right: 65px;}
.mb65 {margin-bottom: 65px;}
.ml65 {margin-left: 65px;}
.mlr65 {margin-left: 65px; margin-right: 65px;}
.mtb65 {margin-top: 65px; margin-bottom: 65px;}
.m65 {margin: 65px;}
.mt70 {margin-top: 70px;}
.mr70 {margin-right: 70px;}
.mb70 {margin-bottom: 70px;}
.ml70 {margin-left: 70px;}
.mlr70 {margin-left: 70px; margin-right: 70px;}
.mtb70 {margin-top: 70px; margin-bottom: 70px;}
.m70 {margin: 70px;}
.mt75 {margin-top: 75px;}
.mr75 {margin-right: 75px;}
.mb75 {margin-bottom: 75px;}
.ml75 {margin-left: 75px;}
.mlr75 {margin-left: 75px; margin-right: 75px;}
.mtb75 {margin-top: 75px; margin-bottom: 75px;}
.m75 {margin: 75px;}
.mt80 {margin-top: 80px;}
.mr80 {margin-right: 80px;}
.mb80 {margin-bottom: 80px;}
.ml80 {margin-left: 80px;}
.mlr80 {margin-left: 80px; margin-right: 80px;}
.mtb80 {margin-top: 80px; margin-bottom: 80px;}
.m80 {margin: 80px;}
.mt85 {margin-top: 85px;}
.mr85 {margin-right: 85px;}
.mb85 {margin-bottom: 85px;}
.ml85 {margin-left: 85px;}
.mlr85 {margin-left: 85px; margin-right: 85px;}
.mtb85 {margin-top: 85px; margin-bottom: 85px;}
.m85 {margin: 85px;}
.mt90 {margin-top: 90px;}
.mr90 {margin-right: 90px;}
.mb90 {margin-bottom: 90px;}
.ml90 {margin-left: 90px;}
.mlr90 {margin-left: 90px; margin-right: 90px;}
.mtb90 {margin-top: 90px; margin-bottom: 90px;}
.m90 {margin: 90px;}
.mt95 {margin-top: 95px;}
.mr95 {margin-right: 95px;}
.mb95 {margin-bottom: 95px;}
.ml95 {margin-left: 95px;}
.mlr95 {margin-left: 95px; margin-right: 95px;}
.mtb95 {margin-top: 95px; margin-bottom: 95px;}
.m95 {margin: 95px;}
.mt100 {margin-top: 100px;}
.mr100 {margin-right: 100px;}
.mb100 {margin-bottom: 100px;}
.ml100 {margin-left: 100px;}
.mlr100 {margin-left: 100px; margin-right: 100px;}
.mtb100 {margin-top: 100px; margin-bottom: 100px;}
.m100 {margin: 100px;}

.mt0-5em {margin-top: 0.5em;}
.mr0-5em {margin-right: 0.5em;}
.mb0-5em {margin-bottom: 0.5em;}
.ml0-5em {margin-left: 0.5em;}
.mlr0-5em {margin-left: 0.5em; margin-right: 0.5em;}
.mtb0-5em {margin-top: 0.5em; margin-bottom: 0.5em;}
.m0-5em {margin: 0.5em;}
.mt1em {margin-top: 1em;}
.mr1em {margin-right: 1em;}
.mb1em {margin-bottom: 1em;}
.ml1em {margin-left: 1em;}
.mlr1em {margin-left: 1em; margin-right: 1em;}
.mtb1em {margin-top: 1em; margin-bottom: 1em}
.m1em {margin: 1em;}
.mt1-5em {margin-top: 1.5em;}
.mr1-5em {margin-right: 1.5em;}
.mb1-5em {margin-bottom: 1.5em;}
.ml1-5em {margin-left: 1.5em;}
.mlr1-5em {margin-left: 1.5em; margin-right: 1.5em;}
.mtb1-5em {margin-top: 1.5em; margin-bottom: 1.5em}
.m1-5em {margin: 1.5em;}
.mt2em {margin-top: 2em;}
.mr2em {margin-right: 2em;}
.mb2em {margin-bottom: 2em;}
.ml2em {margin-left: 2em;}
.mlr2em {margin-left: 2em; margin-right: 2em;}
.mtb2em {margin-top: 2em; margin-bottom: 2em}
.m2em {margin: 2em;}
.mt2-5em {margin-top: 2.5em;}
.mr2-5em {margin-right: 2.5em;}
.mb2-5em {margin-bottom: 2.5em;}
.ml2-5em {margin-left: 2.5em;}
.mlr2-5em {margin-left: 2.5em; margin-right: 2.5em;}
.mtb2-5em {margin-top: 2.5em; margin-bottom: 2.5em}
.m2-5em {margin: 2.5em;}
.mt3em {margin-top: 3em;}
.mr3em {margin-right: 3em;}
.mb3em {margin-bottom: 3em;}
.ml3em {margin-left: 3em;}
.mlr3em {margin-left: 3em; margin-right: 3em;}
.mtb3em {margin-top: 3em; margin-bottom: 3em}
.m3em {margin: 3em;}
.mt3-5em {margin-top: 3.5em;}
.mr3-5em {margin-right: 3.5em;}
.mb3-5em {margin-bottom: 3.5em;}
.ml3-5em {margin-left: 3.5em;}
.mlr3-5em {margin-left: 3.5em; margin-right: 3.5em;}
.mtb3-5em {margin-top: 3.5em; margin-bottom: 3.5em}
.m3-5em {margin: 3.5em;}
.mt4em {margin-top: 4em;}
.mr4em {margin-right: 4em;}
.mb4em {margin-bottom: 4em;}
.ml4em {margin-left: 4em;}
.mlr4em {margin-left: 4em; margin-right: 4em;}
.mtb4em {margin-top: 4em; margin-bottom: 4em}
.m4em {margin: 4em;}
.mt4-5em {margin-top: 4.5em;}
.mr4-5em {margin-right: 4.5em;}
.mb4-5em {margin-bottom: 4.5em;}
.ml4-5em {margin-left: 4.5em;}
.mlr4-5em {margin-left: 4.5em; margin-right: 4.5em;}
.mtb4-5em {margin-top: 4.5em; margin-bottom: 4.5em}
.m4-5em {margin: 4.5em;}
.mt5em {margin-top: 5em;}
.mr5em {margin-right: 5em;}
.mb5em {margin-bottom: 5em;}
.ml5em {margin-left: 5em;}
.mlr5em {margin-left: 5em; margin-right: 5em;}
.mtb5em {margin-top: 5em; margin-bottom: 5em}
.m5em {margin: 5em;}

.mt0-5rem {margin-top: 0.5rem;}
.mr0-5rem {margin-right: 0.5rem;}
.mb0-5rem {margin-bottom: 0.5rem;}
.ml0-5rem {margin-left: 0.5rem;}
.mlr0-5rem {margin-left: 0.5rem; margin-right: 0.5rem;}
.mtb0-5rem {margin-top: 0.5rem; margin-bottom: 0.5rem;}
.m0-5rem {margin: 0.5rem;}
.mt1rem {margin-top: 1rem;}
.mr1rem {margin-right: 1rem;}
.mb1rem {margin-bottom: 1rem;}
.ml1rem {margin-left: 1rem;}
.mlr1rem {margin-left: 1rem; margin-right: 1rem;}
.mtb1rem {margin-top: 1rem; margin-bottom: 1rem}
.m1rem {margin: 1rem;}
.mt1-5rem {margin-top: 1.5rem;}
.mr1-5rem {margin-right: 1.5rem;}
.mb1-5rem {margin-bottom: 1.5rem;}
.ml1-5rem {margin-left: 1.5rem;}
.mlr1-5rem {margin-left: 1.5rem; margin-right: 1.5rem;}
.mtb1-5rem {margin-top: 1.5rem; margin-bottom: 1.5rem}
.m1-5rem {margin: 1.5rem;}
.mt2rem {margin-top: 2rem;}
.mr2rem {margin-right: 2rem;}
.mb2rem {margin-bottom: 2rem;}
.ml2rem {margin-left: 2rem;}
.mlr2rem {margin-left: 2rem; margin-right: 2rem;}
.mtb2rem {margin-top: 2rem; margin-bottom: 2rem}
.m2rem {margin: 2rem;}
.mt2-5rem {margin-top: 2.5rem;}
.mr2-5rem {margin-right: 2.5rem;}
.mb2-5rem {margin-bottom: 2.5rem;}
.ml2-5rem {margin-left: 2.5rem;}
.mlr2-5rem {margin-left: 2.5rem; margin-right: 2.5rem;}
.mtb2-5rem {margin-top: 2.5rem; margin-bottom: 2.5rem}
.m2-5rem {margin: 2.5rem;}
.mt3rem {margin-top: 3rem;}
.mr3rem {margin-right: 3rem;}
.mb3rem {margin-bottom: 3rem;}
.ml3rem {margin-left: 3rem;}
.mlr3rem {margin-left: 3rem; margin-right: 3rem;}
.mtb3rem {margin-top: 3rem; margin-bottom: 3rem}
.m3rem {margin: 3rem;}
.mt3-5rem {margin-top: 3.5rem;}
.mr3-5rem {margin-right: 3.5rem;}
.mb3-5rem {margin-bottom: 3.5rem;}
.ml3-5rem {margin-left: 3.5rem;}
.mlr3-5rem {margin-left: 3.5rem; margin-right: 3.5rem;}
.mtb3-5rem {margin-top: 3.5rem; margin-bottom: 3.5rem}
.m3-5rem {margin: 3.5rem;}
.mt4rem {margin-top: 4rem;}
.mr4rem {margin-right: 4rem;}
.mb4rem {margin-bottom: 4rem;}
.ml4rem {margin-left: 4rem;}
.mlr4rem {margin-left: 4rem; margin-right: 4rem;}
.mtb4rem {margin-top: 4rem; margin-bottom: 4rem}
.m4rem {margin: 4rem;}
.mt4-5rem {margin-top: 4.5rem;}
.mr4-5rem {margin-right: 4.5rem;}
.mb4-5rem {margin-bottom: 4.5rem;}
.ml4-5rem {margin-left: 4.5rem;}
.mlr4-5rem {margin-left: 4.5rem; margin-right: 4.5rem;}
.mtb4-5rem {margin-top: 4.5rem; margin-bottom: 4.5rem}
.m4-5rem {margin: 4.5rem;}
.mt5rem {margin-top: 5rem;}
.mr5rem {margin-right: 5rem;}
.mb5rem {margin-bottom: 5rem;}
.ml5rem {margin-left: 5rem;}
.mlr5rem {margin-left: 5rem; margin-right: 5rem;}
.mtb5rem {margin-top: 5rem; margin-bottom: 5rem}
.m5rem {margin: 5rem;}