*, *::before, *::after {border: none; outline: none; font-size: inherit; color: inherit; -moz-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0px; margin: 0px; font-family: inherit; color: inherit;}
html, body {display: flex; width: 100%; justify-content: center; font-size: 16px; font-family: Arial, Helvetica, sans-serif; scroll-behavior: smooth;}
table {border-collapse: collapse;}
th, td {text-align: left; padding: 0.5em;}
td {font-weight: normal;}
th {font-weight: bold;}
tr:nth-child(2n-1) {background-color: rgba(0, 0, 0, 0.1);}
tr:hover {background-color: rgba(255, 255, 255, 0.5);}
button {width: max-content;}

:root {
	--red: hsl(0, 90%, 55%);
	--orange: hsl(25, 90%, 55%);
	--yellow: hsl(40, 90%, 55%);
	--green: hsl(90, 90%, 55%);
	--turquoise: hsl(140, 90%, 55%);
	--light-blue: hsl(200, 90%, 55%);
	--blue: hsl(235, 90%, 55%);
	--purple: hsl(260, 90%, 55%);
	--magenta: hsl(330, 90%, 55%);
	--pastel-red: hsl(0, 90%, 65%);
	--pastel-orange: hsl(25, 90%, 65%);
	--pastel-yellow: hsl(40, 90%, 65%);
	--pastel-green: hsl(90, 90%, 65%);
	--pastel-turquoise: hsl(140, 90%, 65%);
	--pastel-light-blue: hsl(200, 90%, 65%);
	--pastel-blue: hsl(235, 90%, 65%);
	--pastel-purple: hsl(260, 90%, 65%);
	--pastel-magenta: hsl(330, 90%, 65%);
	--white: hsl(0, 0%, 100%);
	--warm-white: hsl(40, 50%, 90%);
	--cold-white: hsl(220, 50%, 90%);
	--light-gray: hsl(0, 0%, 75%);
	--light-grey: hsl(0, 0%, 75%);
	--gray: hsl(0, 0%, 50%);
	--grey: hsl(0, 0%, 50%);
	--dark-gray: hsl(0, 0%, 25%);
	--dark-grey: hsl(0, 0%, 25%);
	--black: hsl(0, 0%, 0%);
}

.bg-red {background-color: var(--red);}
.bg-orange {background-color: var(--orange);}
.bg-yellow {background-color: var(--yellow);}
.bg-green {background-color: var(--green);}
.bg-turquoise {background-color: var(--turquoise);}
.bg-light-blue {background-color: var(--light-blue);}
.bg-blue {background-color: var(--blue);}
.bg-purple {background-color: var(--purple);}
.bg-magenta {background-color: var(--magenta);}
.bg-p-red {background-color: var(--pastel-red);}
.bg-p-orange {background-color: var(--pastel-orange);}
.bg-p-yellow {background-color: var(--pastel-yellow);}
.bg-p-green {background-color: var(--pastel-green);}
.bg-p-turquoise {background-color: var(--pastel-turquoise);}
.bg-p-light-blue {background-color: var(--pastel-light-blue);}
.bg-p-blue {background-color: var(--pastel-blue);}
.bg-p-purple {background-color: var(--pastel-purple);}
.bg-p-magenta {background-color: var(--pastel-magenta);}
.bg-white {background-color: var(--white);}
.bg-warm-white {background-color: var(--warm-white);}
.bg-cold-white {background-color: var(--cold-white);}
.bg-light-gray {background-color: var(--light-gray);}
.bg-light-grey {background-color: var(--light-grey);}
.bg-gray {background-color: var(--gray);}
.bg-grey {background-color: var(--grey);}
.bg-dark-gray {background-color: var(--dark-gray);}
.bg-dark-grey {background-color: var(--dark-grey);}
.bg-black {background-color: var(--black);}

.red {color: var(--red);}
.orange {color: var(--orange);}
.yellow {color: var(--yellow);}
.green {color: var(--green);}
.turquoise {color: var(--turquoise);}
.light-blue {color: var(--light-blue);}
.blue {color: var(--blue);}
.purple {color: var(--purple);}
.magenta {color: var(--magenta);}
.p-red {color: var(--pastel-red);}
.p-orange {color: var(--pastel-orange);}
.p-yellow {color: var(--pastel-yellow);}
.p-green {color: var(--pastel-green);}
.p-turquoise {color: var(--pastel-turquoise);}
.p-light-blue {color: var(--pastel-light-blue);}
.p-blue {color: var(--pastel-blue);}
.p-purple {color: var(--pastel-purple);}
.p-magenta {color: var(--pastel-magenta);}
.white {color: var(--white);}
.warm-white {color: var(--warm-white);}
.cold-white {color: var(--cold-white);}
.light-gray {color: var(--light-gray);}
.light-grey {color: var(--light-grey);}
.gray {color: var(--gray);}
.grey {color: var(--grey);}
.dark-gray {color: var(--dark-gray);}
.dark-grey {color: var(--dark-grey);}
.black {color: var(--black);}

.border {border: 1px solid currentColor;}
.border-red {border: 1px solid var(--red);}
.border-orange {border: 1px solid var(--orange);}
.border-yellow {border: 1px solid var(--yellow);}
.border-green {border: 1px solid var(--green);}
.border-turquoise {border: 1px solid var(--turquoise);}
.border-light-blue {border: 1px solid var(--light-blue);}
.border-blue {border: 1px solid var(--blue);}
.border-purple {border: 1px solid var(--purple);}
.border-magenta {border: 1px solid var(--magenta);}
.border-p-red {border: 1px solid var(--pastel-red);}
.border-p-orange {border: 1px solid var(--pastel-orange);}
.border-p-yellow {border: 1px solid var(--pastel-yellow);}
.border-p-green {border: 1px solid var(--pastel-green);}
.border-p-turquoise {border: 1px solid var(--pastel-turquoise);}
.border-p-light-blue {border: 1px solid var(--pastel-light-blue);}
.border-p-blue {border: 1px solid var(--pastel-blue);}
.border-p-purple {border: 1px solid var(--pastel-purple);}
.border-p-magenta {border: 1px solid var(--pastel-magenta);}
.border-white {border: 1px solid var(--white);}
.border-warm-white {border: 1px solid var(--warm-white);}
.border-cold-white {border: 1px solid var(--cold-white);}
.border-light-gray {border: 1px solid var(--light-gray);}
.border-light-grey {border: 1px solid var(--light-grey);}
.border-gray {border: 1px solid var(--gray);}
.border-grey {border: 1px solid var(--grey);}
.border-dark-gray {border: 1px solid var(--dark-gray);}
.border-dark-grey {border: 1px solid var(--dark-grey);}
.border-black {border: 1px solid var(--black);}
.border-thicker {border-width: 3px}
.border-thick {border-width: 5px}

.parallax {
	min-height: 25em;
	width: 100%;
	background-color: brown;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.w5 {width: 5%;}
.w10 {width: 10%;}
.w12-5 {width: 12.5%;}
.w15 {width: 15%;}
.w20 {width: 20%;}
.w25 {width: 25%;}
.w30 {width: 30%;}
.w33-3 {width: calc(100% / 3);}
.w35 {width: 35%;}
.w40 {width: 40%;}
.w45 {width: 45%;}
.w50 {width: 50%;}
.w55 {width: 55%;}
.w60 {width: 60%;}
.w65 {width: 65%;}
.w70 {width: 70%;}
.w75 {width: 75%;}
.w80 {width: 80%;}
.w85 {width: 85%;}
.w90 {width: 90%;}
.w95 {width: 95%;}
.w100 {width: 100%;}

h1, h2, h3, h4, h5, h6, p {font-family: inherit; font-weight: normal;}
.font-size-xxl {font-size: 5em;}
.font-size-xl {font-size: 3em;}
.font-size-l {font-size: 2em;}
.font-size-m {font-size: 1.5em;}
.font-size-s {font-size: 1em;}
.font-size-xs {font-size: 0.75em;}
h1 {font-size: 2em; margin-bottom: 0.6em;}
h2 {font-size: 1.75em; margin-bottom: 0.5em;}
h3 {font-size: 1.4em; margin-bottom: 0.2em;}
h4 {font-size: 1.35em; margin-bottom: 0.65em;}
h5 {font-size: 1.25em; margin-bottom: 0.75em;}
h6 {font-size: 1.2em; margin-bottom: 0.8em;}
p {font-size: 1em; margin-bottom: 1em;}
.font-weight-light {font-weight: lighter;}
.font-weight-bold {font-weight: bold;}
.text-align-center {text-align: center;}

.flex {display: flex;}
.maincont {display: flex; flex-direction: column; align-items: center;}
.cont {display: flex; flex-direction: column; align-items: unset;}
.flex-row, .row {display: flex; flex-direction: row; flex-wrap: wrap;}
.flex-col, .col {display: flex; flex-direction: column; flex-wrap: wrap;}
.space-between {justify-content: space-between;}
.space-around {justify-content: space-around;}
.vertical-center {display: flex; align-content: center;}
.horizontal-center {display: flex; justify-content: center;}

.btn-xl {border: none; padding: 25px;	font-size: 1.75em;}
.btn-l {border: none; padding: 20px; font-size: 1.5em;}
.btn-m, .btn {border: none; padding: 10px; font-size: 1.20em;}
.btn-s {border: none; padding: 7px; font-size: 1.1em;}
.btn-xs {border: none; padding: 5px; font-size: 1em;}
.btn2-xl {border: 3px solid; background-color: rgba(0, 0, 0, 0); padding: 25px;	font-size: 1.75em;}
.btn2-l {border: 2px solid; background-color: rgba(0, 0, 0, 0); padding: 20px; font-size: 1.5em;}
.btn2-m, .btn2 {border: 1px solid; background-color: rgba(0, 0, 0, 0); padding: 10px; font-size: 1.20em;}
.btn2-s {border: 1px solid; background-color: rgba(0, 0, 0, 0); padding: 7px; font-size: 1.1em;}
.btn2-xs {border: 1px solid; background-color: rgba(0, 0, 0, 0); padding: 5px; font-size: 1em;}

.round {border-radius: 10px;}.rounder {border-radius: 20px;}
.shadow-s {box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);}
.shadow-m {box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);}
.shadow-l {box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.6);}
.shadow-s-inset {box-shadow: 0px 0px 5px -1px inset rgba(0, 0, 0, 0.5);}
.shadow-m-inset {box-shadow: 0px 0px 30px -10px inset rgba(0, 0, 0, 0.5);}
.shadow-l-inset {box-shadow: 0px 0px 40px -5px inset rgba(0, 0, 0, 0.6);}
.text-shadow {text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);}