/* CSS HEX */
--phthalo-green: #002925ff;
--msu-green: #114132ff;
--english-violet: #473347ff;
--steel-teal: #6f939bff;
--alice-blue: #daeffbff;

/* CSS HSL */
--phthalo-green: hsla(174, 100%, 8%, 1);
--msu-green: hsla(161, 59%, 16%, 1);
--english-violet: hsla(300, 16%, 24%, 1);
--steel-teal: hsla(191, 18%, 52%, 1);
--alice-blue: hsla(202, 80%, 92%, 1);

/* SCSS HEX */
$phthalo-green: #002925ff;
$msu-green: #114132ff;
$english-violet: #473347ff;
$steel-teal: #6f939bff;
$alice-blue: #daeffbff;

/* SCSS HSL */
$phthalo-green: hsla(174, 100%, 8%, 1);
$msu-green: hsla(161, 59%, 16%, 1);
$english-violet: hsla(300, 16%, 24%, 1);
$steel-teal: hsla(191, 18%, 52%, 1);
$alice-blue: hsla(202, 80%, 92%, 1);

/* SCSS RGB */
$phthalo-green: rgba(0, 41, 37, 1);
$msu-green: rgba(17, 65, 50, 1);
$english-violet: rgba(71, 51, 71, 1);
$steel-teal: rgba(111, 147, 155, 1);
$alice-blue: rgba(218, 239, 251, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #002925ff, #114132ff, #473347ff, #6f939bff, #daeffbff);
$gradient-right: linear-gradient(90deg, #002925ff, #114132ff, #473347ff, #6f939bff, #daeffbff);
$gradient-bottom: linear-gradient(180deg, #002925ff, #114132ff, #473347ff, #6f939bff, #daeffbff);
$gradient-left: linear-gradient(270deg, #002925ff, #114132ff, #473347ff, #6f939bff, #daeffbff);
$gradient-top-right: linear-gradient(45deg, #002925ff, #114132ff, #473347ff, #6f939bff, #daeffbff);
$gradient-bottom-right: linear-gradient(135deg, #002925ff, #114132ff, #473347ff, #6f939bff, #daeffbff);
$gradient-top-left: linear-gradient(225deg, #002925ff, #114132ff, #473347ff, #6f939bff, #daeffbff);
$gradient-bottom-left: linear-gradient(315deg, #002925ff, #114132ff, #473347ff, #6f939bff, #daeffbff);
$gradient-radial: radial-gradient(#002925ff, #114132ff, #473347ff, #6f939bff, #daeffbff);