.pt5 {padding-top: 5px;}
.pr5 {padding-right: 5px;}
.pb5 {padding-bottom: 5px;}
.pl5 {padding-left: 5px;}
.plr5 {padding-left: 5px; padding-right: 5px;}
.ptb5 {padding-top: 5px; padding-bottom: 5px;}
.p5 {padding: 5px;}
.pt10 {padding-top: 10px;}
.pr10 {padding-right: 10px;}
.pb10 {padding-bottom: 10px;}
.pl10 {padding-left: 10px;}
.plr10 {padding-left: 10px; padding-right: 10px;}
.ptb10 {padding-top: 10px; padding-bottom: 10px;}
.p10 {padding: 10px;}
.pt15 {padding-top: 15px;}
.pr15 {padding-right: 15px;}
.pb15 {padding-bottom: 15px;}
.pl15 {padding-left: 15px;}
.plr15 {padding-left: 15px; padding-right: 15px;}
.ptb15 {padding-top: 15px; padding-bottom: 15px;}
.p15 {padding: 15px;}
.pt20 {padding-top: 20px;}
.pr20 {padding-right: 20px;}
.pb20 {padding-bottom: 20px;}
.pl20 {padding-left: 20px;}
.plr20 {padding-left: 20px; padding-right: 20px;}
.ptb20 {padding-top: 20px; padding-bottom: 20px;}
.p20 {padding: 20px;}
.pt25 {padding-top: 25px;}
.pr25 {padding-right: 25px;}
.pb25 {padding-bottom: 25px;}
.pl25 {padding-left: 25px;}
.plr25 {padding-left: 25px; padding-right: 25px;}
.ptb25 {padding-top: 25px; padding-bottom: 25px;}
.p25 {padding: 25px;}
.pt30 {padding-top: 30px;}
.pr30 {padding-right: 30px;}
.pb30 {padding-bottom: 30px;}
.pl30 {padding-left: 30px;}
.plr30 {padding-left: 30px; padding-right: 30px;}
.ptb30 {padding-top: 30px; padding-bottom: 30px;}
.p30 {padding: 30px;}
.pt35 {padding-top: 35px;}
.pr35 {padding-right: 35px;}
.pb35 {padding-bottom: 35px;}
.pl35 {padding-left: 35px;}
.plr35 {padding-left: 35px; padding-right: 35px;}
.ptb35 {padding-top: 35px; padding-bottom: 35px;}
.p35 {padding: 35px;}
.pt40 {padding-top: 40px;}
.pr40 {padding-right: 40px;}
.pb40 {padding-bottom: 40px;}
.pl40 {padding-left: 40px;}
.plr40 {padding-left: 40px; padding-right: 40px;}
.ptb40 {padding-top: 40px; padding-bottom: 40px;}
.p40 {padding: 40px;}
.pt45 {padding-top: 45px;}
.pr45 {padding-right: 45px;}
.pb45 {padding-bottom: 45px;}
.pl45 {padding-left: 45px;}
.plr45 {padding-left: 45px; padding-right: 45px;}
.ptb45 {padding-top: 45px; padding-bottom: 45px;}
.p45 {padding: 45px;}
.pt50 {padding-top: 50px;}
.pr50 {padding-right: 50px;}
.pb50 {padding-bottom: 50px;}
.pl50 {padding-left: 50px;}
.plr50 {padding-left: 50px; padding-right: 50px;}
.ptb50 {padding-top: 50px; padding-bottom: 50px;}
.p50 {padding: 50px;}
.pt55 {padding-top: 55px;}
.pr55 {padding-right: 55px;}
.pb55 {padding-bottom: 55px;}
.pl55 {padding-left: 55px;}
.plr55 {padding-left: 55px; padding-right: 55px;}
.ptb55 {padding-top: 55px; padding-bottom: 55px;}
.p55 {padding: 55px;}
.pt60 {padding-top: 60px;}
.pr60 {padding-right: 60px;}
.pb60 {padding-bottom: 60px;}
.pl60 {padding-left: 60px;}
.plr60 {padding-left: 60px; padding-right: 60px;}
.ptb60 {padding-top: 60px; padding-bottom: 60px;}
.p60 {padding: 60px;}
.pt65 {padding-top: 65px;}
.pr65 {padding-right: 65px;}
.pb65 {padding-bottom: 65px;}
.pl65 {padding-left: 65px;}
.plr65 {padding-left: 65px; padding-right: 65px;}
.ptb65 {padding-top: 65px; padding-bottom: 65px;}
.p65 {padding: 65px;}
.pt70 {padding-top: 70px;}
.pr70 {padding-right: 70px;}
.pb70 {padding-bottom: 70px;}
.pl70 {padding-left: 70px;}
.plr70 {padding-left: 70px; padding-right: 70px;}
.ptb70 {padding-top: 70px; padding-bottom: 70px;}
.p70 {padding: 70px;}
.pt75 {padding-top: 75px;}
.pr75 {padding-right: 75px;}
.pb75 {padding-bottom: 75px;}
.pl75 {padding-left: 75px;}
.plr75 {padding-left: 75px; padding-right: 75px;}
.ptb75 {padding-top: 75px; padding-bottom: 75px;}
.p75 {padding: 75px;}
.pt80 {padding-top: 80px;}
.pr80 {padding-right: 80px;}
.pb80 {padding-bottom: 80px;}
.pl80 {padding-left: 80px;}
.plr80 {padding-left: 80px; padding-right: 80px;}
.ptb80 {padding-top: 80px; padding-bottom: 80px;}
.p80 {padding: 80px;}
.pt85 {padding-top: 85px;}
.pr85 {padding-right: 85px;}
.pb85 {padding-bottom: 85px;}
.pl85 {padding-left: 85px;}
.plr85 {padding-left: 85px; padding-right: 85px;}
.ptb85 {padding-top: 85px; padding-bottom: 85px;}
.p85 {padding: 85px;}
.pt90 {padding-top: 90px;}
.pr90 {padding-right: 90px;}
.pb90 {padding-bottom: 90px;}
.pl90 {padding-left: 90px;}
.plr90 {padding-left: 90px; padding-right: 90px;}
.ptb90 {padding-top: 90px; padding-bottom: 90px;}
.p90 {padding: 90px;}
.pt95 {padding-top: 95px;}
.pr95 {padding-right: 95px;}
.pb95 {padding-bottom: 95px;}
.pl95 {padding-left: 95px;}
.plr95 {padding-left: 95px; padding-right: 95px;}
.ptb95 {padding-top: 95px; padding-bottom: 95px;}
.p95 {padding: 95px;}
.pt100 {padding-top: 100px;}
.pr100 {padding-right: 100px;}
.pb100 {padding-bottom: 100px;}
.pl100 {padding-left: 100px;}
.plr100 {padding-left: 100px; padding-right: 100px;}
.ptb100 {padding-top: 100px; padding-bottom: 100px;}
.p100 {padding: 100px;}

.pt0-5em {padding-top: 0.5em;}
.pr0-5em {padding-right: 0.5em;}
.pb0-5em {padding-bottom: 0.5em;}
.pl0-5em {padding-left: 0.5em;}
.plr0-5em {padding-left: 0.5em; padding-right: 0.5em;}
.ptb0-5em {padding-top: 0.5em; padding-bottom: 0.5em;}
.p0-5em {padding: 0.5em;}
.pt1em {padding-top: 1em;}
.pr1em {padding-right: 1em;}
.pb1em {padding-bottom: 1em;}
.pl1em {padding-left: 1em;}
.plr1em {padding-left: 1em; padding-right: 1em;}
.ptb1em {padding-top: 1em; padding-bottom: 1em}
.p1em {padding: 1em;}
.pt1-5em {padding-top: 1.5em;}
.pr1-5em {padding-right: 1.5em;}
.pb1-5em {padding-bottom: 1.5em;}
.pl1-5em {padding-left: 1.5em;}
.plr1-5em {padding-left: 1.5em; padding-right: 1.5em;}
.ptb1-5em {padding-top: 1.5em; padding-bottom: 1.5em}
.p1-5em {padding: 1.5em;}
.pt2em {padding-top: 2em;}
.pr2em {padding-right: 2em;}
.pb2em {padding-bottom: 2em;}
.pl2em {padding-left: 2em;}
.plr2em {padding-left: 2em; padding-right: 2em;}
.ptb2em {padding-top: 2em; padding-bottom: 2em}
.p2em {padding: 2em;}
.pt2-5em {padding-top: 2.5em;}
.pr2-5em {padding-right: 2.5em;}
.pb2-5em {padding-bottom: 2.5em;}
.pl2-5em {padding-left: 2.5em;}
.plr2-5em {padding-left: 2.5em; padding-right: 2.5em;}
.ptb2-5em {padding-top: 2.5em; padding-bottom: 2.5em}
.p2-5em {padding: 2.5em;}
.pt3em {padding-top: 3em;}
.pr3em {padding-right: 3em;}
.pb3em {padding-bottom: 3em;}
.pl3em {padding-left: 3em;}
.plr3em {padding-left: 3em; padding-right: 3em;}
.ptb3em {padding-top: 3em; padding-bottom: 3em}
.p3em {padding: 3em;}
.pt3-5em {padding-top: 3.5em;}
.pr3-5em {padding-right: 3.5em;}
.pb3-5em {padding-bottom: 3.5em;}
.pl3-5em {padding-left: 3.5em;}
.plr3-5em {padding-left: 3.5em; padding-right: 3.5em;}
.ptb3-5em {padding-top: 3.5em; padding-bottom: 3.5em}
.p3-5em {padding: 3.5em;}
.pt4em {padding-top: 4em;}
.pr4em {padding-right: 4em;}
.pb4em {padding-bottom: 4em;}
.pl4em {padding-left: 4em;}
.plr4em {padding-left: 4em; padding-right: 4em;}
.ptb4em {padding-top: 4em; padding-bottom: 4em}
.p4em {padding: 4em;}
.pt4-5em {padding-top: 4.5em;}
.pr4-5em {padding-right: 4.5em;}
.pb4-5em {padding-bottom: 4.5em;}
.pl4-5em {padding-left: 4.5em;}
.plr4-5em {padding-left: 4.5em; padding-right: 4.5em;}
.ptb4-5em {padding-top: 4.5em; padding-bottom: 4.5em}
.p4-5em {padding: 4.5em;}
.pt5em {padding-top: 5em;}
.pr5em {padding-right: 5em;}
.pb5em {padding-bottom: 5em;}
.pl5em {padding-left: 5em;}
.plr5em {padding-left: 5em; padding-right: 5em;}
.ptb5em {padding-top: 5em; padding-bottom: 5em}
.p5em {padding: 5em;}

.pt0-5rem {padding-top: 0.5rem;}
.pr0-5rem {padding-right: 0.5rem;}
.pb0-5rem {padding-bottom: 0.5rem;}
.pl0-5rem {padding-left: 0.5rem;}
.plr0-5rem {padding-left: 0.5rem; padding-right: 0.5rem;}
.ptb0-5rem {padding-top: 0.5rem; padding-bottom: 0.5rem;}
.p0-5rem {padding: 0.5rem;}
.pt1rem {padding-top: 1rem;}
.pr1rem {padding-right: 1rem;}
.pb1rem {padding-bottom: 1rem;}
.pl1rem {padding-left: 1rem;}
.plr1rem {padding-left: 1rem; padding-right: 1rem;}
.ptb1rem {padding-top: 1rem; padding-bottom: 1rem}
.p1rem {padding: 1rem;}
.pt1-5rem {padding-top: 1.5rem;}
.pr1-5rem {padding-right: 1.5rem;}
.pb1-5rem {padding-bottom: 1.5rem;}
.pl1-5rem {padding-left: 1.5rem;}
.plr1-5rem {padding-left: 1.5rem; padding-right: 1.5rem;}
.ptb1-5rem {padding-top: 1.5rem; padding-bottom: 1.5rem}
.p1-5rem {padding: 1.5rem;}
.pt2rem {padding-top: 2rem;}
.pr2rem {padding-right: 2rem;}
.pb2rem {padding-bottom: 2rem;}
.pl2rem {padding-left: 2rem;}
.plr2rem {padding-left: 2rem; padding-right: 2rem;}
.ptb2rem {padding-top: 2rem; padding-bottom: 2rem}
.p2rem {padding: 2rem;}
.pt2-5rem {padding-top: 2.5rem;}
.pr2-5rem {padding-right: 2.5rem;}
.pb2-5rem {padding-bottom: 2.5rem;}
.pl2-5rem {padding-left: 2.5rem;}
.plr2-5rem {padding-left: 2.5rem; padding-right: 2.5rem;}
.ptb2-5rem {padding-top: 2.5rem; padding-bottom: 2.5rem}
.p2-5rem {padding: 2.5rem;}
.pt3rem {padding-top: 3rem;}
.pr3rem {padding-right: 3rem;}
.pb3rem {padding-bottom: 3rem;}
.pl3rem {padding-left: 3rem;}
.plr3rem {padding-left: 3rem; padding-right: 3rem;}
.ptb3rem {padding-top: 3rem; padding-bottom: 3rem}
.p3rem {padding: 3rem;}
.pt3-5rem {padding-top: 3.5rem;}
.pr3-5rem {padding-right: 3.5rem;}
.pb3-5rem {padding-bottom: 3.5rem;}
.pl3-5rem {padding-left: 3.5rem;}
.plr3-5rem {padding-left: 3.5rem; padding-right: 3.5rem;}
.ptb3-5rem {padding-top: 3.5rem; padding-bottom: 3.5rem}
.p3-5rem {padding: 3.5rem;}
.pt4rem {padding-top: 4rem;}
.pr4rem {padding-right: 4rem;}
.pb4rem {padding-bottom: 4rem;}
.pl4rem {padding-left: 4rem;}
.plr4rem {padding-left: 4rem; padding-right: 4rem;}
.ptb4rem {padding-top: 4rem; padding-bottom: 4rem}
.p4rem {padding: 4rem;}
.pt4-5rem {padding-top: 4.5rem;}
.pr4-5rem {padding-right: 4.5rem;}
.pb4-5rem {padding-bottom: 4.5rem;}
.pl4-5rem {padding-left: 4.5rem;}
.plr4-5rem {padding-left: 4.5rem; padding-right: 4.5rem;}
.ptb4-5rem {padding-top: 4.5rem; padding-bottom: 4.5rem}
.p4-5rem {padding: 4.5rem;}
.pt5rem {padding-top: 5rem;}
.pr5rem {padding-right: 5rem;}
.pb5rem {padding-bottom: 5rem;}
.pl5rem {padding-left: 5rem;}
.plr5rem {padding-left: 5rem; padding-right: 5rem;}
.ptb5rem {padding-top: 5rem; padding-bottom: 5rem}
.p5rem {padding: 5rem;}